@page "/"

<PageTitle>Home</PageTitle>

<div class="container p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Welcome!</h1>
    <p class="lead">
        I always wanted to build my own website without using a CMS like Wordpress or Joomla. I wanted to learn how to build a website from scratch. After a lot of self-study I finally managed to build my own website. I used the following technologies: <code>HTML, CSS, Sass, C# Blazor, .NET, SQL Server</code>
    </p>
    <p class="lead">
        Of course i want something with this website, this is not just a hobby project, it's an online portfolio where i keep track of my knowledge, skills, experience and projects. I also want to share my thoughts with others, that's why i started a blog. I hope you enjoy my website!
    </p>
</div>
